h1 {
    color: #27aedb;
    text-align: center;
  }
  #input{
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 24px;
    background-color: #2b293d;
  }
  .calculator{
    width: 400px;
    justify-content: center;
  }
  .keypad {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 10px;
    padding: 3px;
    background-color: #cad2c5;
  }
  
  button {
    font-size: 24px;
    width: 90px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d9d9d9;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    color: #569bb7;
    background-color: rgb(33, 33, 33);
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
/* 
.keypad {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
button {
    height: 50px;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #e0e0e0;
} */